:root {
  color: rgba(255, 255, 255, 0.87);
  font-weight: 400;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #242424;
  user-select: none;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rect_wrapper {
  position: fixed;
  top: 80%;
  left: 10%;
}
#threeD {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#cccccc, #fafafa, #cccccc);
}
.box_size {
  position: absolute;
}
.box_size .line {
  position: absolute;
}
.box_size span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  padding: 0 2px;
  color: #666;
  font-size: 10px;
  background-color: #eee;
  border: 1px solid #666;
  border-radius: 3px;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.box_size::before,
.box_size::after {
  position: absolute;
  display: block;
  content: "";
}
.box_size.vertical .line {
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  background-color: #666;
}
.box_size.vertical span {
  transform: rotate(-90deg) translate(40%, -70%);
}
.box_size.vertical::before,
.box_size.vertical::after {
  width: 10px;
  height: 1px;
  background-color: #666;
  transform: translateX(-50%);
}
.box_size.vertical::before {
  top: 0;
}
.box_size.vertical::after {
  bottom: 0;
}
.box_size.horizontal .line {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  background-color: #666;
}
.box_size.horizontal::before,
.box_size.horizontal::after {
  top: 0;
  width: 1px;
  height: 10px;
  background-color: #666;
  transform: translateY(-50%);
}
.box_size.horizontal::before {
  left: 0;
}
.box_size.horizontal::after {
  right: 0;
}
.cursor_col {
  cursor: col-resize;
}
.cursor_row {
  cursor: row-resize;
}
